.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
html{
    background-image: url(../images/head.jpg);
    background-attachment: fixed;
}
body{
    
    
    font-family: Calibri, sans-serif;
    font-size: 100%;
    margin: auto;
   
    
    
}
main{
    text-align: center;
}
header {
    background-color: darkgrey;
    background-image: url(../images/money.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}
h1 {
   
    flex-grow: 1;
    outline: none;
    font-size: 3rem;
    letter-spacing: 2px;
    color: lime;
}
h2{
    color: lime;
}

footer{
    background-image: linear-gradient(to right, green, silver);
    padding: 30px 0;
    border-top: 3px ridge silver;
}
footer p{
    text-align: center;
    font-size: 80%;
    font-variant: small-caps;
    font-weight: bold;
     color: white;
    text-shadow: 1px 1px 1px #000000, -1px -1px 1px #000000, -1px 1px 1px #000000, 1px -1px 1px #000000;
}
@media only screen and (max-width: 800px) {
    header{
      flex-direction: column;
      justify-content: center;
    }
    nav{
      flex-direction: column;
    }
  }